<%- include('partials/header') %>
        <h2>Editar Cliente</h2>
        
        <% if (error) { %>
            <div class="alert error">
                <%= error %>
            </div>
        <% } %>

        <form action="/atualizar/<%= cliente._id %>" method="POST">
            <div class="form-group">
                <label for="nome">Nome:</label>
                <input type="text" id="nome" name="nome" value="<%= cliente.nome %>" required>
            </div>
            
            <div class="form-group">
                <label for="cidade">Cidade:</label>
                <input type="text" id="cidade" name="cidade" value="<%= cliente.cidade %>" required>
            </div>
            
            <div class="form-group">
                <label for="estado">Estado:</label>
                <input type="text" id="estado" name="estado" maxlength="2" value="<%= cliente.estado %>" required>
            </div>
            
            <div class="form-group">
                <label for="cep">CEP:</label>
                <input type="text" id="cep" name="cep" value="<%= cliente.cep %>" required>
            </div>
            
            <div class="form-group">
                <label for="telefone">Telefone:</label>
                <input type="text" id="telefone" name="telefone" value="<%= cliente.telefone %>" required>
            </div>
            
            <button type="submit" class="btn primary">Atualizar</button>
            <a href="/" class="btn">Cancelar</a>
        </form>
<%- include('partials/footer') %>